<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyzz.bbcampus">

    <permission
        android:name="com.lyzz.bbcampus.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required 一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.lyzz.bbcampus.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 向SD卡中创建或者删除的权限。 -->
    <uses-permission android:name="andorid.permission.MONUN_UNMOUNT_FILESYSTEMS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    //高德定位服务
    <service android:name="com.amap.api.location.APSService" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="99795c3f9315857a0f0a84e2ea7ac34c" />
        //欢迎页面
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //LBS主页面
        <activity android:name=".pages.MainLBS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        //用户页
        <activity android:name=".pages.OwnerPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        //表单显示
        <activity android:name=".pages.MainList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity android:name=".pages.Subscribe" />
        <activity android:name=".missionclass.OrderFood" />
        <activity android:name=".missionclass.OrderQuestion" />
        <activity android:name=".missionclass.OrderBorrow" />
        <activity android:name=".missionclass.OrderExpress" />
        <activity android:name=".missionclass.OrderInform" />
        <activity android:name=".missionclass.OrderMedia" />
        <activity android:name=".missionclass.OrderSeat" />
        <activity android:name=".missionclass.OrderWash" />
        <activity android:name=".missionclass.OrderWater" />
        <activity android:name=".missionclass.OrderRepair" />
        //极光ADK
        <!-- Required SDK 核⼼心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- Required SDK核⼼心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.lyzz.bbcampus" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核⼼心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lyzz.bbcampus" />
            </intent-filter>
        </activity>
        <!-- SDK核⼼心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lyzz.bbcampus" />
            </intent-filter>
        </activity>
        <!-- Required SDK核⼼心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <!-- Required SDK核⼼心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <!-- User defined. ⽤用户⾃自定义的⼲⼴广播接收器 -->
        <!-- <receiver -->
        <!-- android:name="" -->
        <!-- android:enabled="true"> -->
        <!-- <intent-filter> -->
        <!-- &lt;!&ndash;Required ⽤用户注册SDK的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.REGISTRATION" /> -->
        <!-- &lt;!&ndash;Required ⽤用户接收SDK消息的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> -->
        <!-- &lt;!&ndash;Required ⽤用户接收SDK通知栏信息的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> -->
        <!-- &lt;!&ndash;Required ⽤用户打开⾃自定义通知栏的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> -->
        <!-- &lt;!&ndash; 接收⺴⽹网络变化 连接/断开 since 1.6.3 &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.CONNECTION" /> -->
        <!-- <category android:name="com.lyzz.bbcampus" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="55c769ada81a0d564c7f023e" />

        <activity android:name=".pages.MissionOnGoingLBS" />

        <service android:name=".service.LBSService" />

        <activity android:name=".pages.RegisterDetail" />
        <activity android:name=".missionclass.OrderDetailLocation" />
        <activity android:name=".pages.MissionDetail" />
        <activity android:name=".order.MissionLocationAndRoute" />
        <activity android:name=".route.BusRouteDetailActivity" />
        <activity android:name=".pages.MissionOnGoingDetail" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".pages.UserOrderHistory" />
        <activity android:name=".pages.UserMissionHistory"></activity>
    </application>

</manifest>